html {
  height: 100%; }

body {
  height: 100%;
  color: #666;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 20px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  position: relative; }
  body.is-splash {
    padding-top: 200%; }

img {
  border: none; }

a {
  outline: none;
  text-decoration: none;
  color: #666; }
  a:hover, a:active {
    color: #d92128; }

/*	grid
  ------------------------------------------- */
.grid {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: auto;
  max-width: 410px; }

.grid > li {
  margin: 0 0 40px; }
  @media screen and (min-width: 480px) {
    .grid > li {
      margin: 0 0 80px;
      float: left;
      width: 50%; } }
  .lt-ie9 .grid > li {
    margin: 0 0 80px;
    float: left;
    width: 50%; }

.container-outer {
  display: table;
  height: 100%;
  width: 100%;
  margin-bottom: 150px; }
  .container-outer.is-splash {
    background: #fff;
    z-index: 1; }
  .container-outer.is-transition {
    transition: opacity 0.3s 0.3s; }
  .container-outer.is-hidden {
    opacity: 0; }
  .container-outer.container-outer-last {
    margin-bottom: 0; }

/* container
  ------------------------------------------- */
.container {
  height: 100%;
  display: table-cell;
  vertical-align: middle; }
  .container.container-last {
    vertical-align: bottom;
    padding-bottom: 100px; }

.lt-ie8 .container-outer {
  padding-top: 83px;
  height: auto; }

.client {
  text-indent: -9999px;
  background-position: center center;
  height: 75px; }

.icon-london-partners {
  background-image: url(/img/london-and-partners_@2x.png);
  background-repeat: no-repeat;
  background-size: 180px auto; }

/*	content (standard copy styles)
  ------------------------------------------- */
.content {
  padding: 0 20px;
  max-width: 410px;
  margin: auto; }
  @media screen and (min-width: 960px) {
    .content {
      padding: 0; } }
  .lt-ie9 .content {
    padding: 0; }
  .content h1 {
    font-size: 34px;
    font-weight: 300;
    margin: 0; }
  .content p {
    margin: 0 0 1em; }
    .content p.content-expand {
      margin-top: 40px;
      text-align: center;
      transition: opacity 0.3s; }
      .content p.content-expand > a {
        display: inline-block;
        border: 1px solid #999;
        padding: .5em 2em;
        border-radius: 5px;
        font-size: 16px;
        color: #666; }
    .content p.is-hidden {
      overflow: hidden;
      height: 40px;
      opacity: 0; }
    .content p.content-large {
      font-size: 22px;
      font-weight: 300;
      color: #666;
      margin: 20px 0 60px; }
    .content p.content-larger {
      font-size: 30px;
      font-weight: 300;
      color: #999;
      margin: 75px 0 25px; }
      .content p.content-larger > a {
        color: #d92128; }
    .content p.content-centered {
      text-align: center; }
  .content dl {
    margin: 0;
    padding: 0; }
    .content dl > dt {
      margin: 0 0 1em; }
    .content dl > dd {
      margin: 0 0 1em; }
  .content strong {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.content-page {
  padding-top: 83px; }

.is-collapsed {
  height: 0;
  opacity: 0; }

.is-expanded {
  transition: opacity 0.6s 0.3s;
  margin-top: -40px;
  height: auto;
  opacity: 1; }

.footer-bar {
  height: 2px;
  background: #d92128;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2; }

/*	global-nav
  ------------------------------------------- */
.global-nav {
  background: #fbfbfb;
  text-align: right;
  border-bottom: 1px solid #e9e9ea;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .global-nav > li {
    display: inline; }
    .global-nav > li > a {
      font-size: 16px;
      color: #666;
      display: inline-block;
      padding: 17px 0 0;
      min-width: 64px;
      text-align: center;
      margin-right: -6px; }
      @media screen and (min-width: 480px) {
        .global-nav > li > a {
          padding: 17px 7px 0; } }
      .lt-ie9 .global-nav > li > a {
        padding: 17px 7px 0; }
      @media screen and (min-width: 768px) {
        .global-nav > li > a {
          font-size: 18px; } }
      .lt-ie9 .global-nav > li > a {
        font-size: 18px; }
      @media screen and (min-width: 960px) {
        .global-nav > li > a:hover {
          color: #d92128; } }
      .lt-ie9 .global-nav > li > a:hover {
        color: #d92128; }
    .global-nav > li.active > a {
      font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 400; }
      .global-nav > li.active > a:hover {
        color: #666; }
        @media screen and (min-width: 960px) {
          .global-nav > li.active > a:hover {
            color: #d92128; } }
        .lt-ie9 .global-nav > li.active > a:hover {
          color: #d92128; }
    .global-nav > li:first-child {
      float: left; }
      .global-nav > li:first-child > a {
        margin: 0 0 0 17px;
        padding: 17px 0;
        display: block;
        text-indent: -9999px;
        background-position: center;
        min-width: 0; }
      .global-nav > li:first-child > .icon-logo-w {
        width: 23px; }
      @media screen and (min-width: 768px) {
        .global-nav > li:first-child > .icon-logo-small {
          background-image: url("/img/logo-@2x.png");
          background-size: 100% auto;
          width: 101px; } }
      .lt-ie9 .global-nav > li:first-child > .icon-logo-small {
        background-image: url("/img/logo-@2x.png");
        background-size: 100% auto;
        width: 101px; }
    .global-nav > li:last-child > a {
      margin: 0 5px 0 0; }
  .global-nav.is-transition {
    transition: opacity 0.3s; }
  .global-nav.is-hidden {
    opacity: 0;
    height: 0; }
  .global-nav.is-fixed {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0; }

.splash h1 {
  margin: 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 201px;
  margin: auto; }

.icon-logo-png {
  background: url("/img/logo-@2x.png") no-repeat 0 -22px;
  background-size: 100% auto; }

/*	testimonials
  ------------------------------------------- */
.testimonials {
  margin: auto;
  max-width: 450px; }
  @media screen and (min-width: 960px) {
    .testimonials {
      max-width: 410px; } }
  .lt-ie9 .testimonials {
    max-width: 410px; }
  .testimonials > blockquote {
    margin: 0;
    padding: 0;
    padding: 0 20px 40px; }
    @media screen and (min-width: 960px) {
      .testimonials > blockquote {
        padding: 0 0 40px; } }
    .lt-ie9 .testimonials > blockquote {
      padding: 0 0 40px; }
    .testimonials > blockquote > cite {
      color: #999;
      font-style: normal; }

/*# sourceMappingURL=style.css.map */
