@font-face {
  font-family: "HelveticaNeueW01-Thin";
  src: url("/Fonts/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix");
  src: url("/Fonts/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix") format("eot"), url("/Fonts/aff68211-86bb-476d-882e-f7a3face144c.woff2") format("woff2"), url("/Fonts/50d35bbc-dfd4-48f1-af16-cf058f69421d.woff") format("woff"), url("/Fonts/278bef59-6be1-4800-b5ac-1f769ab47430.ttf") format("truetype"), url("/Fonts/2e309b1b-08b8-477f-bc9e-7067cf0af0b3.svg#2e309b1b-08b8-477f-bc9e-7067cf0af0b3") format("svg"); }
@font-face {
  font-family: "HelveticaNeueW01-45Ligh";
  src: url("/Fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix");
  src: url("/Fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix") format("eot"), url("/Fonts/5a13f7d1-b615-418e-bc3a-525001b9a671.woff2") format("woff2"), url("/Fonts/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"), url("/Fonts/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"), url("/Fonts/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg"); }
@font-face {
  font-family: "HelveticaNeueW01-65Medi";
  src: url("/Fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix");
  src: url("/Fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix") format("eot"), url("/Fonts/3600b37f-2bf1-45f3-be3a-03365f16d9cb.woff2") format("woff2"), url("/Fonts/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff") format("woff"), url("/Fonts/4c6503c9-859b-4d3b-a1d5-2d42e1222415.ttf") format("truetype"), url("/Fonts/36c182c6-ef98-4021-9b0d-d63122c2bbf5.svg#36c182c6-ef98-4021-9b0d-d63122c2bbf5") format("svg"); }
/* fonts

font-family:'HelveticaNeueW01-UltLt';
font-family:'HelveticaNeueW01-Thin';
font-family:'HelveticaNeueW01-45Ligh';
font-family:'HelveticaNeueW01-65Medi';
font-family:'HelveticaNeueW01-75Bold';

*/
/* fonts

font-family:'HelveticaNeueW01-UltLt';
font-family:'HelveticaNeueW01-Thin';
font-family:'HelveticaNeueW01-45Ligh';
font-family:'HelveticaNeueW01-65Medi';
font-family:'HelveticaNeueW01-75Bold';

*/
html {
  height: 100%; }

body {
  height: 100%;
  color: #565656;
  margin: 0;
  font-family: "HelveticaNeueW01-45Ligh", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  position: relative;
  overflow-x: hidden; }
  body.is-splash {
    padding-top: 200%; }

img {
  border: none; }

a {
  outline: none;
  text-decoration: none;
  color: #000; }
  a:hover, a:active, a.red {
    color: #d92128; }

strong {
  font-family: 'HelveticaNeueW01-65Medi';
  font-weight: normal; }

/*	grid
  ------------------------------------------- */
.grid {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: auto; }
  .grid:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden; }
  @media screen and (min-width: 768px) {
    .grid {
      max-width: 768px; } }
  .lt-ie9 .grid {
    max-width: 768px; }
  .grid.grid-clients {
    max-width: 480px; }
    @media screen and (min-width: 768px) {
      .grid.grid-clients {
        max-width: 630px; } }
    .lt-ie9 .grid.grid-clients {
      max-width: 630px; }

.grid-2-up {
  position: relative; }
  @media screen and (min-width: 768px) {
    .grid-2-up {
      float: left;
      width: 50%; } }
  .lt-ie9 .grid-2-up {
    float: left;
    width: 50%; }
  @media screen and (min-width: 768px) {
    .grid-2-up.gutter {
      box-sizing: border-box;
      padding-left: 40px; } }
  .lt-ie9 .grid-2-up.gutter {
    box-sizing: border-box;
    padding-left: 40px; }
  @media screen and (min-width: 768px) {
    .grid-2-up.gutter-right {
      box-sizing: border-box;
      padding-right: 35px; } }
  .lt-ie9 .grid-2-up.gutter-right {
    box-sizing: border-box;
    padding-right: 35px; }
  @media screen and (min-width: 768px) {
    .grid-2-up.right {
      text-align: right; } }
  .lt-ie9 .grid-2-up.right {
    text-align: right; }
  @media screen and (min-width: 768px) {
    .grid-2-up.float-right {
      float: right; } }
  .lt-ie9 .grid-2-up.float-right {
    float: right; }

.grid > .grid-3-up {
  margin: 0 0 40px; }
  @media screen and (min-width: 480px) {
    .grid > .grid-3-up {
      margin: 0 0 80px;
      float: left;
      width: 50%; } }
  .lt-ie9 .grid > .grid-3-up {
    margin: 0 0 80px;
    float: left;
    width: 50%; }
  @media screen and (min-width: 768px) {
    .grid > .grid-3-up {
      width: 33.3333%; } }
  .lt-ie9 .grid > .grid-3-up {
    width: 33.3333%; }

.container-outer {
  display: table;
  height: 100%;
  width: 100%;
  padding-top: 85px;
  box-sizing: border-box;
  margin-bottom: 200px; }
  @media screen and (min-width: 768px) {
    .container-outer {
      margin-bottom: 300px; } }
  .lt-ie9 .container-outer {
    margin-bottom: 300px; }
  .container-outer.container-outer-splash {
    padding-top: 0; }
  .container-outer.is-transition {
    transition: opacity 0.3s 0.3s; }
  .container-outer.is-hidden {
    opacity: 0; }
  .container-outer.container-outer-last {
    margin-bottom: 0; }

/* container
  ------------------------------------------- */
.container {
  height: 100%;
  display: table-cell;
  vertical-align: middle; }
  .container.container-last {
    vertical-align: bottom;
    padding-bottom: 100px; }
  .container.container-top {
    vertical-align: top; }

.lt-ie8 .container-outer {
  padding-top: 83px;
  height: auto; }

.article-image {
  width: 90.625%;
  margin: auto;
  display: block;
  max-width: 361px; }

.article-main {
  max-width: 275px;
  margin: 20px; }
  .article-main h1 {
    font-family: "HelveticaNeueW01-Thin";
    font-size: 55px;
    font-weight: normal;
    line-height: 1.1;
    margin: 25px 0; }
  .article-main p {
    margin: 0;
    line-height: 1.5; }
    @media screen and (min-width: 480px) {
      .article-main p {
        margin: 0 0 1em; } }
    .lt-ie9 .article-main p {
      margin: 0 0 1em; }

.client {
  text-indent: -9999px;
  background-position: center center;
  height: 75px; }

.icon-london-partners {
  background-image: url(/img/london-and-partners_@2x.png);
  background-repeat: no-repeat;
  background-size: 205px auto; }

.icon-vodafone, .icon-tui {
  background-size: auto 100%; }

/*	content (standard copy styles)
  ------------------------------------------- */
.content {
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .content {
      padding: 0; } }
  .lt-ie9 .content {
    padding: 0; }
  .content h1 {
    font-size: 34px;
    font-family: "HelveticaNeueW01-65Medi";
    font-weight: normal;
    margin: 0; }
    .content h1.content-heading {
      font-family: "HelveticaNeueW01-Thin";
      font-size: 49px;
      font-weight: normal;
      line-height: 1.1;
      max-width: 275px;
      margin: 30px 0; }
      @media screen and (min-width: 768px) {
        .content h1.content-heading {
          margin: 227px 0 25px; } }
      .lt-ie9 .content h1.content-heading {
        margin: 227px 0 25px; }
      .content h1.content-heading.content-heading-unconstrained {
        max-width: none;
        margin: 0 0 22px; }
      @media screen and (min-width: 768px) {
        .content h1.content-heading.content-heading-small-margin {
          margin: 133px 0 25px; } }
      .lt-ie9 .content h1.content-heading.content-heading-small-margin {
        margin: 133px 0 25px; }
  .content h2 {
    font-size: 24px;
    font-weight: normal;
    font-family: "HelveticaNeueW01-65Medi"; }
  .content p {
    margin: 0 0 1em;
    line-height: 1.5; }
    .content p.content-expand {
      transition: opacity 0.3s, visibility 0s 0.3s; }
    .content p.is-hidden {
      visibility: hidden;
      opacity: 0; }
    .content p.content-large {
      font-size: 22px;
      color: #565656;
      margin: 20px 0 60px; }
    .content p.content-larger {
      color: #999;
      font-size: 30px;
      margin: 75px 0 25px; }
      .content p.content-larger > a {
        color: #d92128; }
    .content p.content-text {
      max-width: 275px;
      display: inline; }
      @media screen and (min-width: 768px) {
        .content p.content-text {
          display: block; } }
      .lt-ie9 .content p.content-text {
        display: block; }
  .content .content-text-centered {
    text-align: center; }
    .content .content-text-centered.smaller {
      font-size: 16px; }
    @media screen and (min-width: 768px) {
      .content .content-text-centered.low-res {
        text-align: inherit;
        padding: 0; } }
    .lt-ie9 .content .content-text-centered.low-res {
      text-align: inherit;
      padding: 0; }
    .content .content-text-centered.low-res .content-button {
      margin-top: 32px; }
      @media screen and (min-width: 768px) {
        .content .content-text-centered.low-res .content-button {
          margin-top: 15px; } }
      .lt-ie9 .content .content-text-centered.low-res .content-button {
        margin-top: 15px; }
    .content .content-text-centered.fixed-bottom-margin {
      margin-bottom: 50px; }
  .content .content-text-constrained {
    max-width: 510px;
    margin: auto; }
  .content .content-text-larger {
    font-size: 24px; }
  .content .content-button {
    display: inline-block;
    border: 1px solid #999;
    padding: .5em 2em;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 16px;
    color: #2b2b2b; }
    .content .content-button:hover {
      color: #d92128; }
  .content dl {
    margin: 0;
    padding: 0; }
    .content dl > dt {
      margin: 0 0 1em; }
    .content dl > dd {
      margin: 0 0 1em;
      line-height: 1.5; }
  .content img {
    /*		
    		display:block;
    		width:100%;
    		height:auto;
    		max-width:330px;
    		margin:0 auto 70px;
    */
    		/*
    		&.content-image{
    			margin:0;
    			display:inline-block;
    			width:286px; // 80%
    			max-width:none;
    			max-width:358px;
    			
    			@include respond($medium){
    				width:auto;
    				margin:0 -25px 0 0;
    			}
    			
    			&.content-image-right{			
    				@include respond($medium){
    					margin:30px 0 0 -25px;
    				}
    			}
    			
    			&.content-image-large{
    				width:342px; // 80%	// noddle
    //				max-width:427px;
    			}
    			
    			&.content-image-larger{
    				width:379px; // 80%
    			}
    			
    			&.content-image-wide{
    				width:448px;
    //				margin-left:-167px;
    				margin-left:-70px;
    				max-width:560px;				
    				
    				@include respond($medium){
    					width:auto;
    				}
    			}	
    		}
    		*/ }
  .content .content-image-container {
    width: 100%;
    position: relative; }
    @media screen and (min-width: 768px) {
      .content .content-image-container {
        position: static; } }
    .lt-ie9 .content .content-image-container {
      position: static; }
  .content .content-image-container-worldpay {
    height: 600px; }
    @media screen and (min-width: 321px) {
      .content .content-image-container-worldpay {
        height: 753px; } }
    .lt-ie9 .content .content-image-container-worldpay {
      height: 753px; }
  .content .content-image-worldpay {
    position: absolute;
    height: 600px;
    width: 286px;
    display: block;
    background: url(/img/worldpay-screen-low-2x.jpg) center top no-repeat;
    background-size: 286px auto;
    left: 50%;
    margin-left: -178px; }
    @media screen and (min-width: 321px) {
      .content .content-image-worldpay {
        width: 358px;
        height: 753px;
        background: url(/img/worldpay-screen.jpg) center top no-repeat;
        background-size: 358px auto; } }
    .lt-ie9 .content .content-image-worldpay {
      width: 358px;
      height: 753px;
      background: url(/img/worldpay-screen.jpg) center top no-repeat;
      background-size: 358px auto; }
  .content .content-image-container-noddle {
    height: 620px; }
    @media screen and (min-width: 321px) {
      .content .content-image-container-noddle {
        height: 774px; } }
    .lt-ie9 .content .content-image-container-noddle {
      height: 774px; }
  .content .content-image-noddle {
    position: absolute;
    height: 620px;
    width: 342px;
    display: block;
    background: url(/img/noddle-screen-low-2x.jpg) center top no-repeat;
    background-size: 342px auto;
    left: 50%;
    margin-left: -225px; }
    @media screen and (min-width: 321px) {
      .content .content-image-noddle {
        width: 427px;
        height: 774px;
        background: url(/img/noddle-screen.jpg) center top no-repeat;
        background-size: 427px auto; } }
    .lt-ie9 .content .content-image-noddle {
      width: 427px;
      height: 774px;
      background: url(/img/noddle-screen.jpg) center top no-repeat;
      background-size: 427px auto; }
  .content .content-image-container-local-discoveries {
    height: 530px; }
    @media screen and (min-width: 321px) {
      .content .content-image-container-local-discoveries {
        height: 790px; } }
    .lt-ie9 .content .content-image-container-local-discoveries {
      height: 790px; }
  .content .content-image-local-discoveries {
    position: absolute;
    height: 530px;
    width: 379px;
    display: block;
    background: url(/img/local-discoveries-screen-low-2x.jpg) center top no-repeat;
    background-size: 379px auto;
    left: 50%;
    margin-left: -285px; }
    @media screen and (min-width: 321px) {
      .content .content-image-local-discoveries {
        height: 790px;
        width: 564px;
        background: url(/img/local-discoveries-screen.jpg) center top no-repeat;
        background-size: 564px auto; } }
    .lt-ie9 .content .content-image-local-discoveries {
      height: 790px;
      width: 564px;
      background: url(/img/local-discoveries-screen.jpg) center top no-repeat;
      background-size: 564px auto; }
  .content .content-image-container-yarn {
    height: 524px; }
    @media screen and (min-width: 321px) {
      .content .content-image-container-yarn {
        height: 655px; } }
    .lt-ie9 .content .content-image-container-yarn {
      height: 655px; }
  .content .content-image-yarn {
    position: absolute;
    height: 524px;
    width: 379px;
    display: block;
    background: url(/img/yarn-screen-low-2x.jpg) center top no-repeat;
    background-size: 379px auto;
    left: 50%;
    margin-left: -221px; }
    @media screen and (min-width: 321px) {
      .content .content-image-yarn {
        height: 655px;
        width: 474px;
        background: url(/img/yarn-screen.jpg) center top no-repeat;
        background-size: 474px auto;
        right: -20px;
        left: auto; } }
    .lt-ie9 .content .content-image-yarn {
      height: 655px;
      width: 474px;
      background: url(/img/yarn-screen.jpg) center top no-repeat;
      background-size: 474px auto;
      right: -20px;
      left: auto; }
  .content .content-image-container-learn-skills {
    height: 530px; }
    @media screen and (min-width: 321px) {
      .content .content-image-container-learn-skills {
        height: 704px; } }
    .lt-ie9 .content .content-image-container-learn-skills {
      height: 704px; }
  .content .content-image-learn-skills {
    position: absolute;
    height: 530px;
    width: 470px;
    display: block;
    background: url(/img/learn-skills-low-2x.jpg) center top no-repeat;
    background-size: 470px auto;
    left: 50%;
    margin-left: -228px; }
    @media screen and (min-width: 321px) {
      .content .content-image-learn-skills {
        height: 704px;
        width: 588px;
        background: url(/img/learn-skills.jpg) center top no-repeat;
        background-size: 588px auto;
        right: -20px;
        left: auto; } }
    .lt-ie9 .content .content-image-learn-skills {
      height: 704px;
      width: 588px;
      background: url(/img/learn-skills.jpg) center top no-repeat;
      background-size: 588px auto;
      right: -20px;
      left: auto; }
  .content form {
    max-width: 400px;
    margin: 44px auto 0; }
    .content form p {
      margin-bottom: 26px; }
  .content input[type="text"], .content input[type="email"] {
    outline: none;
    font-family: "HelveticaNeueW01-45Ligh";
    -webkit-appearance: none;
    box-sizing: border-box;
    border: 1px solid #e7e7e8;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    color: #565656; }
  .content button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    text-align: center;
    display: block;
    margin: 40px auto 28px;
    border: 1px solid #999;
    padding: .5em 2em;
    border-radius: 5px;
    background: none;
    color: #2b2b2b;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px; }
    .content button:hover {
      color: #d92128; }
  .content label {
    margin: 0 0 10px;
    display: block;
    line-height: 1.5; }

.content-page {
  padding-top: 16px; }

@media screen and (min-width: 768px) {
  .content-right {
    text-align: right;
    float: right; } }
.lt-ie9 .content-right {
  text-align: right;
  float: right; }

.content-centered {
  margin: auto; }

.content-constrained {
  max-width: 630px;
  padding: 0 20px; }

.content-constrained-narrow {
  max-width: 410px; }

.content-constrained-article {
  max-width: 300px;
  padding: 0 20px;
  margin: auto; }
  @media screen and (min-width: 768px) {
    .content-constrained-article {
      margin: 0;
      padding: 0;
      max-width: 275px; } }
  .lt-ie9 .content-constrained-article {
    margin: 0;
    padding: 0;
    max-width: 275px; }

.is-collapsed {
  height: 0;
  opacity: 0;
  visibility: hidden; }
  .is-collapsed > h2, .is-collapsed dl, .is-collapsed p, .is-collapsed div {
    display: none; }

.is-expanded {
  transition: opacity 0.6s 0.3s;
  margin-top: -40px;
  height: auto;
  opacity: 1;
  visibility: visible; }
  .is-expanded > h2, .is-expanded dl, .is-expanded p, .is-expanded div {
    display: block; }

.footer-bar {
  height: 3px;
  background: #d92128;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2; }

/*	global-nav
  ------------------------------------------- */
.global-nav {
  background: #fbfbfb;
  text-align: center;
  border-bottom: 1px solid #e9e9ea;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .global-nav > li {
    display: inline; }
    .global-nav > li > a {
      font-size: 16px;
      color: #565656;
      display: inline-block;
      padding: 17px 0;
      min-width: 64px;
      text-align: center;
      margin-right: -6px; }
      @media screen and (min-width: 480px) {
        .global-nav > li > a {
          padding: 17px 7px; } }
      .lt-ie9 .global-nav > li > a {
        padding: 17px 7px; }
      @media screen and (min-width: 768px) {
        .global-nav > li > a {
          font-size: 18px; } }
      .lt-ie9 .global-nav > li > a {
        font-size: 18px; }
      @media screen and (min-width: 960px) {
        .global-nav > li > a:hover {
          color: #d92128; } }
      .lt-ie9 .global-nav > li > a:hover {
        color: #d92128; }
    .global-nav > li:nth-child(3) > a {
      padding-right: 11px; }
    .global-nav > li.active > a {
      color: #d92128; }
      .global-nav > li.active > a:hover {
        color: #565656; }
        @media screen and (min-width: 960px) {
          .global-nav > li.active > a:hover {
            color: #d92128; } }
        .lt-ie9 .global-nav > li.active > a:hover {
          color: #d92128; }
    .global-nav > li:first-child {
      display: none; }
      @media screen and (min-width: 768px) {
        .global-nav > li:first-child {
          display: inline-block;
          position: absolute;
          left: 0; } }
      .lt-ie9 .global-nav > li:first-child {
        display: inline-block;
        position: absolute;
        left: 0; }
      .global-nav > li:first-child > a {
        margin: 0 0 0 17px;
        padding: 17px 0;
        display: block;
        text-indent: -9999px;
        background-position: center;
        min-width: 0; }
      .global-nav > li:first-child > .icon-logo-w {
        width: 23px; }
      @media screen and (min-width: 768px) {
        .global-nav > li:first-child > .icon-logo-small {
          background-image: url("/img/logo-@2x.png");
          background-size: 100% auto;
          width: 101px; } }
      .lt-ie9 .global-nav > li:first-child > .icon-logo-small {
        background-image: url("/img/logo-@2x.png");
        background-size: 100% auto;
        width: 101px; }
    .global-nav > li:last-child > a {
      margin: 0 5px 0 0; }
  .global-nav.is-transition {
    transition: opacity 0.3s; }
  .global-nav.is-hidden {
    opacity: 0;
    height: 0; }
  .global-nav.is-fixed {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0; }

.splash h1 {
  margin: 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 201px;
  margin: 60px auto 0;
  transition: all 0.6s; }
  @media screen and (min-width: 960px) {
    .splash h1 {
      margin: 100px auto 0; } }
  .lt-ie9 .splash h1 {
    margin: 100px auto 0; }
  .splash h1.hidden {
    opacity: 0;
    margin-top: 80px; }
    @media screen and (min-width: 960px) {
      .splash h1.hidden {
        margin-top: 120px; } }
    .lt-ie9 .splash h1.hidden {
      margin-top: 120px; }

.splash-tagline {
  position: absolute;
  text-align: center;
  bottom: 35px;
  width: 100%;
  transition: all 0.6s; }
  .splash-tagline.hidden {
    opacity: 0;
    bottom: 55px; }
  .splash-tagline p {
    margin-bottom: 15px; }
    @media screen and (min-width: 960px) {
      .splash-tagline p {
        font-size: 24px; } }
    .lt-ie9 .splash-tagline p {
      font-size: 24px; }

.icon-logo-png {
  background: url("/img/logo-@2x.png") no-repeat 0 -22px;
  background-size: 100% auto; }

.icon-chevron-down {
  width: 61px;
  height: 31px;
  display: inline-block;
  margin: 20px auto 0;
  transition: all 0.3s;
  position: relative;
  bottom: 0;
  transition: all 0.6s 1s; }
  @media screen and (min-width: 960px) {
    .icon-chevron-down {
      margin: 39px auto 0; } }
  .lt-ie9 .icon-chevron-down {
    margin: 39px auto 0; }
  @media screen and (min-width: 960px) {
    .icon-chevron-down:hover {
      bottom: -10px; } }
  .lt-ie9 .icon-chevron-down:hover {
    bottom: -10px; }
  .icon-chevron-down.hidden {
    opacity: 0; }

/*	testimonials
  ------------------------------------------- */
.testimonials {
  margin: auto;
  max-width: 450px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .testimonials {
      max-width: 630px; } }
  .lt-ie9 .testimonials {
    max-width: 630px; }
  .testimonials > blockquote {
    margin: 0;
    padding: 0;
    padding: 0 20px 40px; }
    @media screen and (min-width: 768px) {
      .testimonials > blockquote {
        padding: 0 0 40px; } }
    .lt-ie9 .testimonials > blockquote {
      padding: 0 0 40px; }
    .testimonials > blockquote > p {
      font-family: "HelveticaNeueW01-Thin";
      margin-bottom: 25px;
      font-size: 49px; }
      .testimonials > blockquote > p.testimonial-about {
        margin: 0 0 -3px; }
        @media screen and (min-width: 768px) {
          .testimonials > blockquote > p.testimonial-about {
            margin-bottom: 33px; } }
        .lt-ie9 .testimonials > blockquote > p.testimonial-about {
          margin-bottom: 33px; }
    .testimonials > blockquote > cite {
      color: #565656;
      font-style: normal;
      font-size: 20px; }
      .testimonials > blockquote > cite > strong {
        font-family: "HelveticaNeueW01-65Medi"; }

/*	testimonials
  ------------------------------------------- */
.testimonials-small {
  margin: auto;
  max-width: 450px; }
  @media screen and (min-width: large) {
    .testimonials-small {
      max-width: 410px; } }
  .lt-ie9 .testimonials-small {
    max-width: 410px; }
  .testimonials-small > blockquote {
    margin: 0;
    padding: 0;
    padding: 0 20px 40px; }
    @media screen and (min-width: large) {
      .testimonials-small > blockquote {
        padding: 0 0 40px; } }
    .lt-ie9 .testimonials-small > blockquote {
      padding: 0 0 40px; }
    .testimonials-small > blockquote > cite {
      color: #999;
      font-style: normal; }

/*# sourceMappingURL=style.css.map */
