.article-image{
	width:90.625%;
	margin:auto;
	display:block;
	max-width:361px;
}

.article-main{	
	max-width:275px;
	margin:20px;
	
	h1{
		font-family: "HelveticaNeueW01-UltLt";
	    font-size: 55px;
	    font-weight: normal;
	    line-height: 1.1;
		margin:25px 0;
	}
	
	p{
		margin:0;
	    line-height: 1.5;
		
		@include respond(small){
			margin:0 0 1em;
		}
	}
}