@import 'variables', 'mixins';

html{
    height:100%;
}

body{
    height:100%;
	color:#666;
	margin:0;
	font:{
		family: "HelveticaNeueW01-45Ligh", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		size:20px;
	};
	-webkit-text-size-adjust: 100%;
	position: relative;
	
	&.is-splash{
		padding-top:200%;	// to allow a scroll event
	}
}

img{
	border:none;
}

a{
	outline:none;
	text-decoration:none;
	color:#000;
	
	&:hover, &:active{
		color:$red;
	}
}

strong{
	font-family:'HelveticaNeueW01-65Medi';
	font-weight:normal;
}