.client{
	text-indent: -9999px;
	background-position:center center;
	height:75px;
}

.icon-london-partners{
	background-image:url(/img/london-and-partners_@2x.png);
	background-repeat:no-repeat;
	background-size:180px auto;
}