/*	content (standard copy styles)
  ------------------------------------------- */
.content{
	overflow:hidden;
	
	@include respond($medium){
		padding:0;
	}
	
	h1{
		font-size:34px;
		font-family:"HelveticaNeueW01-65Medi";
		font-weight:normal;
		margin:0;
		
		&.content-heading{
			font-family:"HelveticaNeueW01-Thin";
		    font-size: 49px;
		    font-weight: normal;
		    line-height: 1.1;
			max-width:275px;
			margin:30px 0;			
			
			@include respond($medium){
				margin:227px 0 25px;
			}
			
			&.content-heading-unconstrained{
				max-width:none;
				margin:0 0 22px;			
			}
			
			&.content-heading-small-margin{
				@include respond($medium){
					margin:133px 0 25px;
				}
			}
		}
	}
	
	h2{
		font-size: 24px;
		font-weight:normal;
		font-family:"HelveticaNeueW01-65Medi";
	}
	
	p{
		margin:0 0 1em;
		line-height:1.5;
		
		&.content-expand{
			transition:opacity 0.3s, visibility 0s 0.3s;
		}
		
		&.is-hidden{
			visibility:hidden;
			opacity:0;
		}
		
		&.content-large{
			font:{
				size:22px;
			};		
			color:$grey;
			margin:20px 0 60px;
		}
		
		&.content-larger{
			color:#999;
			font-size:30px;
			margin:75px 0 25px;
			
			> a{
				color:$red;
			}
		}
		
		&.content-text{
			max-width:275px;
			display:inline;
			
			@include respond($medium){
				display:block;
			}
		}
	}
	
	.content-text-centered{
		text-align:center;
		
		&.smaller{
			font-size:16px;
		}
		
		&.low-res{
			@include respond($medium){
				text-align:inherit;
				padding:0;
			}
			
			.content-button{
				margin-top:32px;
				
				@include respond($medium){
					margin-top:15px;
				}
			}
		}
		
		&.fixed-bottom-margin{
			margin-bottom:50px;
		}
	}
	
	.content-text-constrained{
		max-width:510px;
		margin:auto;
	}
	
	.content-text-larger{
		font-size:24px;
	}
	
	.content-button{
		display:inline-block;
		border:1px solid $light-grey;
		padding:.5em 2em;
		border-radius:5px;
		margin-top:15px;
		font-size:16px;
		color:#2b2b2b;
		
		&:hover{
			color:$red;
		}
	}
	
	dl{
		@include reset-margins;
		
		> dt{
			margin:0 0 1em;
		}		
		> dd{
			margin:0 0 1em;		
			line-height:1.5;	
		}
	}
	
	img{
/*		
		display:block;
		width:100%;
		height:auto;
		max-width:330px;
		margin:0 auto 70px;
*/		
		
		/*
		&.content-image{
			margin:0;
			display:inline-block;
			width:286px; // 80%
			max-width:none;
			max-width:358px;
			
			@include respond($medium){
				width:auto;
				margin:0 -25px 0 0;
			}
			
			&.content-image-right{			
				@include respond($medium){
					margin:30px 0 0 -25px;
				}
			}
			
			&.content-image-large{
				width:342px; // 80%	// noddle
//				max-width:427px;
			}
			
			&.content-image-larger{
				width:379px; // 80%
			}
			
			&.content-image-wide{
				width:448px;
//				margin-left:-167px;
				margin-left:-70px;
				max-width:560px;				
				
				@include respond($medium){
					width:auto;
				}
			}	
		}
		*/
	}
	
	.content-image-container{
		width:100%;
		position:relative;
		
		@include respond($medium){
			position:static;
		}
	}
	
	.content-image-container-worldpay{
		height:600px;
		
		@include respond($medium){
			height:753px;
		}
	}
	
	.content-image-worldpay{
		position:absolute;
		height:600px;
		width:286px;
		display:block;
		background:url(/img/worldpay-screen.jpg) center top no-repeat;
		background-size:286px auto;
		left:50%;
		margin-left:-143px;	// offset	
		
		@include respond($medium){
			width:358px;
			height:753px;
			background-size:358px auto;
			margin-left:-148px;	// offset	
		}
	}
	
	.content-image-container-noddle{
		height:620px;
		
		@include respond($medium){
			height:774px;
		}
	}
	
	.content-image-noddle{
		position:absolute;
		height:620px;
		width:342px;
		display:block;
		background:url(/img/noddle-screen.jpg) center top no-repeat;
		background-size:342px auto;
		left:50%;
		margin-left:-145px;	// offset	
		
		@include respond($medium){
			width:427px;
			height:774px;
			background-size:427px auto;
			margin-left:-205px;	// offset	
		}
	}
	
	.content-image-container-local-discoveries{
		height:530px;
		
		@include respond($medium){
			height:790px;
		}
	}
	
	.content-image-local-discoveries{
		position:absolute;
		height:530px;
		width:379px;
		display:block;
		background:url(/img/local-discoveries-screen.jpg) center top no-repeat;
		background-size:379px auto;
		left:50%;
		margin-left:-285px;	// offset	
		
		@include respond($medium){
			height:790px;
			width:564px;
			background-size:564px auto;
			right:-20px;
			left:auto;
		}		
	}
	
	.content-image-container-yarn{
		height:524px;
		
		@include respond($medium){
			height:655px;
		}	
	}
	
	.content-image-yarn{
		position:absolute;
		height:524px;
		width:379px;
		display:block;
		background:url(/img/yarn-screen.jpg) center top no-repeat;
		background-size:379px auto;
		left:50%;
		margin-left:-221px;	// offset	
		
		@include respond($medium){
			height:655px;
			width:474px;
			background-size:474px auto;
			right:-20px;
			left:auto;
		}	
	}
	
	.content-image-container-learn-skills{
		height:530px;
		
		@include respond($medium){
			height:704px;
		}
	}
	
	.content-image-learn-skills{
		position:absolute;
		height:530px;
		width:470px;
		display:block;
		background:url(/img/learn-skills.jpg) center top no-repeat;
		background-size:470px auto;
		left:50%;
		margin-left:-228px;	// offset	
		
		@include respond($medium){
			height:704px;
			width:588px;
			background-size:588px auto;
			right:-20px;
			left:auto;
		}
	}
	
	form{
		max-width:400px;
		margin:44px auto 0;
		
		p{
			margin-bottom:26px;
		}
	}
	
	input[type="text"], input[type="email"]{
		outline:none;
		font-family:"HelveticaNeueW01-45Ligh";
		-webkit-appearance:none;
		box-sizing:border-box;
		border:1px solid $pale-grey;
		width:100%;
		font-size:16px;
		padding:10px;
		color:$grey;
	}
	
	button{
		@include reset-margins;
		box-sizing:border-box;
		-webkit-appearance:none;
		text-align:center;
		display:block;
		margin:40px auto 28px;
		border:1px solid $light-grey;
		padding:.5em 2em;
		border-radius:5px;
		background:none;
		color:#2b2b2b;		
		cursor:pointer;
		font:{
			family: inherit;
			size:16px;
		};
		
		&:hover{
			color:$red;
		}
	}
	
	label{
		margin:0 0 10px;
		display:block;
		line-height:1.5;
	}
}

.content-page{
	padding-top:16px;
}

.content-right{
	@include respond($medium){
		text-align:right;
		float:right;
	}
}

.content-centered{
	margin:auto;
}

.content-constrained{
	max-width:630px;
	padding:0 20px;
}

.content-constrained-narrow{
	max-width:410px;
}

.content-constrained-article{
	max-width:300px;
	padding:0 20px;
	margin:auto;
	
	@include respond($medium){
		margin:0;
		padding:0;
		max-width:275px;
	}
}

.is-collapsed{
	height:0;
	opacity:0;	
	visibility:hidden;
	
	> h2, dl, p, div{
		display:none;
	}
}

.is-expanded{
	transition:opacity 0.6s 0.3s;
	margin-top:-40px;
	height:auto;
	opacity:1;
	visibility:visible;
	
	> h2, dl, p, div{
		display:block;
	}
}