/*	content (standard copy styles)
  ------------------------------------------- */
.content{
	padding:0 20px;
	max-width:410px;
	margin:auto;
	
	@include respond(large){
		padding:0;
	}
			
	> p{
		margin:0 0 1em;
	}
}