/*	content (standard copy styles)
  ------------------------------------------- */
.content{
	padding:0 20px;	
	
	@include respond($medium){
		padding:0;
	}
	
	h1{
		font:{
			size:34px;
		};
		margin:0;
		
		&.content-heading{
			font-family: "HelveticaNeueW01-UltLt";
		    font-size: 55px;
		    font-weight: normal;
		    line-height: 1.1;
			max-width:275px;
			margin:25px 0;			
			
			@include respond($medium){
				margin:227px 0 25px;
			}
			
			&.content-heading-unconstrained{
				max-width:none;
				margin:0 0 25px;			
			}
			
			&.content-heading-small-margin{
				@include respond($medium){
					margin:133px 0 25px;
				}
			}
		}
	}
	
	h2{
		font-size: 24px;
		font-weight:normal;
	}
	
	p{
		margin:0 0 1em;
		line-height:1.5;
		
		&.content-expand{
			transition:opacity 0.3s, visibility 0s 0.3s;
		}
		
		&.is-hidden{
			visibility:hidden;
			opacity:0;
		}
		
		&.content-large{
			font:{
				size:22px;
			};		
			color:$grey;
			margin:20px 0 60px;
		}
		
		&.content-larger{
			color:#999;
			font-size:30px;
			margin:75px 0 25px;
			
			> a{
				color:$red;
			}
		}
		
		&.content-text{
			display:inline;
			max-width:275px;
			
			@include respond($medium){
				display:block;
			}
		}
	}
	
	.content-text-centered{
		text-align:center;
		
		&.smaller{
			font-size:16px;
		}
		
		&.low-res{
			@include respond($medium){
				text-align:inherit;
				padding:0;
			}
		}
		
		&.fixed-bottom-margin{
			margin-bottom:50px;
		}
	}
	
	.content-button{
		display:inline-block;
		border:1px solid $light-grey;
		padding:.5em 2em;
		border-radius:5px;
		margin-top:15px;
		font-size:16px;
		color:#2b2b2b;
		
		&:hover{
			color:$red;
		}
	}
	
	dl{
		@include reset-margins;
		
		> dt{
			margin:0 0 1em;
		}		
		> dd{
			margin:0 0 1em;		
			line-height:1.5;	
		}
	}
	
	img{
		display:block;
		width:100%;
		height:auto;
		max-width:330px;
		margin:0 auto 70px;
		
		&.content-full{
			max-width:none;
			margin-top:50px;
		}
		
		&.content-image{
			margin:0;
			display:inline-block;
			max-width:358px;
			
			@include respond($medium){
				width:auto;
				margin:0 -25px 0 0;
			}
			
			&.content-image-right{			
				@include respond($medium){
					margin:30px 0 0 -25px;
				}
			}
			
			&.content-image-large{
				max-width:427px;
			}
			
			&.content-image-wide{
				width:450px;
				margin-left:-170px;
				max-width:560px;				
				
				@include respond($medium){
					width:auto;
				}
			}	
		}
	}
	
	form{
		max-width:400px;
		margin:auto;
	}
	
	input[type="text"], input[type="email"]{
		outline:none;
		-webkit-appearance:none;
		box-sizing:border-box;
		border:1px solid $pale-grey;
		width:100%;
		font-size:16px;
		padding:10px;
		color:$grey;
	}
	
	button{
		@include reset-margins;
		box-sizing:border-box;
		-webkit-appearance:none;
		text-align:center;
		display:block;
		margin:40px auto 28px;
		border:1px solid $light-grey;
		padding:.5em 2em;
		border-radius:5px;
		background:none;
		color:#2b2b2b;		
		cursor:pointer;
		font:{
			family: inherit;
			size:16px;
		};
		
		&:hover{
			color:$red;
		}
	}
	
	label{
		margin:0 0 10px;
		display:block;
		line-height:1.5;
	}
}

.content-page{
	padding-top:16px;
}

.content-right{
	@include respond($medium){
		text-align:right;
		float:right;
	}
}

.content-centered{
	margin:auto;
}

.content-constrained{
	max-width:630px;
}

.content-constrained-narrow{
	max-width:410px;
}

.is-collapsed{
	height:0;
	opacity:0;	
	visibility:hidden;
	
	> h2, dl, p, div{
		display:none;
	}
}

.is-expanded{
	transition:opacity 0.6s 0.3s;
	margin-top:-40px;
	height:auto;
	opacity:1;
	visibility:visible;
	
	> h2, dl, p, div{
		display:block;
	}
}