/*	grid
  ------------------------------------------- */
.grid{
	@include reset-margins;
	@include container;
	@include clearfix;
	list-style:none;
	margin:auto;
	max-width:320px;
	
	@include respond($medium){
		max-width:768px;
	}

	&.grid-clients{
		max-width:630px;
	}
}

.grid-2-up{
//	margin-bottom:55px;
	position:relative;
	
	@include respond($medium){
		float:left;
		width:50%;
		@include show-guides;
	}
	
	&.gutter{
		@include respond($medium){
			box-sizing:border-box;
			padding-left:60px;
		}
	}
	
	&.gutter-right{
		@include respond($medium){
			box-sizing:border-box;
			padding-right:60px;
		}
	}
	
	&.right{
		@include respond($medium){
			text-align:right;
		}
	}
	
	&.float-right{
		@include respond($medium){
			float:right;
		}
	}
}

.grid > .grid-3-up{
	margin:0 0 40px;
	@include respond($medium){
		margin:0 0 80px;
		float:left;		
		width:33.3333%;
	}	
}

.container-outer{
	display:table;
	height:100%;
	width:100%;
	padding-top:67px;
	box-sizing:border-box;
	//	margin-bottom:150px;
	//	@include show-guides;
	
	&.is-splash{
		background:#fff;
		z-index:1;
	}
	
	&.is-transition{
		transition:opacity 0.3s 0.3s;
	}
	
	&.is-hidden{
		opacity:0;
	}
	
	&.container-outer-last{
		margin-bottom:0;
	}
}

/* container
  ------------------------------------------- */
.container{
	height:100%;
	display:table-cell;
	vertical-align:middle;	
	
	&.container-last{
		vertical-align:bottom;
		padding-bottom:100px;
	}
	
	&.container-top{
		vertical-align:top;
	}
}

.lt-ie8 .container-outer{
	// no display:table support
	padding-top:83px;
	height:auto;
}