/*	grid
  ------------------------------------------- */
.grid{
	@include reset-margins;
	@include container;
	@include clearfix;
	list-style:none;
	margin:auto;
	max-width:320px;
	
	@include respond($medium){
		max-width:768px;
		overflow:hidden;
	}
	
	@include respond(769px){
		overflow:visible;
	}

	&.grid-clients{
		max-width:480px;
		
		@include respond($medium){
			max-width:630px;
		}
	}
}

.grid-2-up{
	position:relative;
	@include show-guides;
	
	@include respond($medium){
		float:left;
		width:50%;
	}
	
	&.gutter{
		@include respond($medium){
			box-sizing:border-box;
			padding-left:60px;
		}
	}
	
	&.gutter-right{
		@include respond($medium){
			box-sizing:border-box;
			padding-right:35px;
		}
	}
	
	&.right{
		@include respond($medium){
			text-align:right;
		}
	}
	
	&.float-right{
		@include respond($medium){
			float:right;
		}
	}
}

.grid > .grid-3-up{
	margin:0 0 40px;
	
	@include respond($small){
		margin:0 0 80px;
		float:left;		
		width:50%;
	}
	
	@include respond($medium){
		width:33.3333%;
	}	
}

.container-outer{
	display:table;
	height:100%;
	width:100%;
	padding-top:85px;
	box-sizing:border-box;
	margin-bottom:200px;
	
	@include respond($medium){
		margin-bottom:300px;
	}	
	
	&.container-outer-splash{
		padding-top:0;
	}
	
	&.is-transition{
		transition:opacity 0.3s 0.3s;
	}
	
	&.is-hidden{
		opacity:0;
	}
	
	&.container-outer-last{
		margin-bottom:0;
	}
}

/* container
  ------------------------------------------- */
.container{
	height:100%;
	display:table-cell;
	vertical-align:middle;	
	
	&.container-last{
		vertical-align:bottom;
		padding-bottom:100px;
	}
	
	&.container-top{
		vertical-align:top;
	}
}

.lt-ie8 .container-outer{
	// no display:table support
	padding-top:83px;
	height:auto;
}