.splash{
	h1{
		@include reset-margins;
		text-indent: 100%;
		white-space: nowrap; 
		overflow: hidden;
		width:201px;
		margin:60px auto 0;
		transition:all 0.6s;
		
		@include respond($large){
			margin:100px auto 0;
		}
		
		&.hidden{
			opacity:0;
			margin-top:80px;
			
			@include respond($large){
				margin-top:120px;
			}
		}
	}
}

.splash-tagline{
	position:absolute;
	text-align:center;
	bottom:20px;
	width:100%;
	transition:all 0.6s 1s;
	
	&.hidden{
		opacity:0;
		bottom:40px;
	}
}

.icon-logo-png{
	background: url('/img/logo-@2x.png') no-repeat 0 -22px;
	background-size:100% auto;
}

.icon-chevron-down{
	width:61px;
	height:31px;
	display:inline-block;
	margin:20px auto 0;
	transition:all 0.3s;
	position:relative;
	bottom:0;
	transition:all 0.6s 1.6s;
	
	@include respond($large){
		margin:40px auto 0;
	}
	
	&:hover{
		@include respond($large){
			bottom:-10px;
		}
	}
	
	&.hidden{
		opacity:0;
	}
}