/*	testimonials
  ------------------------------------------- */
.testimonials{
	margin:auto;
	max-width:450px;
	text-align:center;
	
	@include respond($medium){
		max-width:630px;
	}
	
	> blockquote{
		
		@include reset-margins;
		padding:0 20px 40px;
		
		@include respond($medium){
			padding:0 0 40px;
		}
		
		> p{
			font-family:"HelveticaNeueW01-Thin";
			margin-bottom:25px;
			font-size: 49px;
			line-height:normal;
			
			&.testimonial-about{
				margin:0 0 -3px;
				
				@include respond($medium){
					margin-bottom:33px;
				}
			}
		}
		
		> cite{
			color:$grey;
			font-style:normal;
			font-size:20px;
			
			> strong{
				font-family:"HelveticaNeueW01-65Medi"; 
			}
		}
	}
}

/*	testimonials
  ------------------------------------------- */
.testimonials-small{
	margin:auto;
	max-width:450px;
	
	@include respond(large){
		max-width:410px;
	}
	
	> blockquote{
		
		@include reset-margins;
		padding:0 20px 40px;
		
		@include respond(large){
			padding:0 0 40px;
		}
		
		> cite{
			color:$light-grey;
			font-style:normal;
		}
	}
}