 
.icon-blinkbox {
	background-image: url('/img/grunticon/blinkbox.png');
	background-repeat: no-repeat;
}

 
.icon-financial-times {
	background-image: url('/img/grunticon/financial-times.png');
	background-repeat: no-repeat;
}

 
.icon-logo-w {
	background-image: url('/img/grunticon/logo-w.png');
	background-repeat: no-repeat;
}

 
.icon-logo {
	background-image: url('/img/grunticon/logo.png');
	background-repeat: no-repeat;
}

 
.icon-tfl {
	background-image: url('/img/grunticon/tfl.png');
	background-repeat: no-repeat;
}

 
.icon-vodafone {
	background-image: url('/img/grunticon/vodafone.png');
	background-repeat: no-repeat;
}

 
.icon-worldpay {
	background-image: url('/img/grunticon/worldpay.png');
	background-repeat: no-repeat;
}

 
.icon-zurich {
	background-image: url('/img/grunticon/zurich.png');
	background-repeat: no-repeat;
}

