 
.icon-blinkbox {
	background-image: url('png/blinkbox.png');
	background-repeat: no-repeat;
}

 
.icon-financial-times {
	background-image: url('png/financial-times.png');
	background-repeat: no-repeat;
}

 
.icon-logo-w {
	background-image: url('png/logo-w.png');
	background-repeat: no-repeat;
}

 
.icon-logo {
	background-image: url('png/logo.png');
	background-repeat: no-repeat;
}

 
.icon-tfl {
	background-image: url('png/tfl.png');
	background-repeat: no-repeat;
}

 
.icon-vodafone {
	background-image: url('png/vodafone.png');
	background-repeat: no-repeat;
}

 
.icon-worldpay {
	background-image: url('png/worldpay.png');
	background-repeat: no-repeat;
}

 
.icon-zurich {
	background-image: url('png/zurich.png');
	background-repeat: no-repeat;
}

