.splash{
//	text-align:center;
//	height:100%;	// set as non-js default
//	background:#fff;
//	position:relative;
	transition:opacity 0.3s;
	
	&.is-hidden{
		opacity:0;
	}
	
	h1{
		@include reset-margins;
//		position:absolute;
//		width:100%;
//		top:50%;
//		margin-top:-25px;
		text-indent: 100%;
		white-space: nowrap; 
		overflow: hidden;
		background-position:center;
	}
}

.main{
	height:100%;
//	position:relative;		
//	top:245px;
}

//.is-fixed{
//	position:fixed;		
//	width:100%;
//}