/*	testimonials
  ------------------------------------------- */
.testimonials{
	margin:auto;
	max-width:410px;
	
	> blockquote{
		@include reset-margins;
		padding:0 20px 40px;
		
		> cite{
			color:$light-grey;
			font-style:normal;
		}
	}
}