html {
  height: 100%; }

body {
  height: 100%;
  color: #666;
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 20px;
  -webkit-text-size-adjust: 100%; }
  body.is-splash {
    padding-top: 200%; }

img {
  border: none; }

a {
  outline: none;
  text-decoration: none;
  color: #666666; }
  a:hover, a:active {
    color: #d92128; }

/*	grid
  ------------------------------------------- */
.grid {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: auto;
  max-width: 410px; }

.grid > li {
  margin: 0 0 40px; }
  @media screen and (min-width: 480px) {
    .grid > li {
      margin: 0 0 80px;
      float: left;
      width: 50%; } }
  .lt-ie9 .grid > li {
    margin: 0 0 80px;
    float: left;
    width: 50%; }

.container-outer {
  display: table;
  height: 100%;
  width: 100%; }
  .container-outer.is-splash {
    background: #fff;
    z-index: 1; }
  .container-outer.is-transition {
    transition: opacity 0.3s 0.3s; }
  .container-outer.is-hidden {
    opacity: 0; }

.is-fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0; }

/* container
  ------------------------------------------- */
.container {
  height: 100%;
  display: table-cell;
  vertical-align: middle; }

.client {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-position: center center;
  height: 75px !important;
  /*	
  	&.icon-worldpay{
  		height:35px;
  	}
  
  	&.icon-blinkbox{
  		height:40px;
  	}
  
  	&.icon-zurich{
  		height:71px;
  	}
  	
  	&.icon-financial-times{
  		height:70px;
  	}
  	
  	&.icon-tfl{
  		height:41px;
  	}
  	
  	&.icon-vodafone{
  		height:75px;
  	}
  	*/ }

/*	content (standard copy styles)
  ------------------------------------------- */
.content {
  padding: 0 20px;
  max-width: 410px;
  margin: auto; }
  .content > p {
    margin: 0 0 1em; }

.footer-bar {
  height: 2px;
  background: #d92128;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2; }

/*	global-nav
  ------------------------------------------- */
.global-nav {
  background: #fbfbfb;
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #e9e9ea;
  margin: 0;
  padding: 0; }
  .global-nav > li {
    display: inline; }
    .global-nav > li > a {
      font-size: 16px;
      color: #666666;
      display: inline-block;
      padding: 17px 0 0;
      min-width: 64px;
      text-align: center;
      margin-right: -6px; }
      @media screen and (min-width: 480px) {
        .global-nav > li > a {
          padding: 17px 7px 0; } }
      .lt-ie9 .global-nav > li > a {
        padding: 17px 7px 0; }
      .global-nav > li > a.is-active {
        font-weight: bold; }
    .global-nav > li:first-child {
      float: left; }
      .global-nav > li:first-child > a {
        margin: 0 0 0 17px;
        padding: 17px 0;
        display: block;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        background-position: center;
        min-width: 0;
        width: 22px; }
    .global-nav > li:last-child > a {
      margin: 0 5px 0 0; }
  .global-nav.is-transition {
    transition: opacity 0.3s; }
  .global-nav.is-hidden {
    opacity: 0; }

.splash {
  transition: opacity 0.3s; }
  .splash.is-hidden {
    opacity: 0; }
  .splash h1 {
    margin: 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-position: center; }

.main {
  height: 100%; }

/*	testimonials
  ------------------------------------------- */
.testimonials {
  margin: auto;
  max-width: 410px; }
  .testimonials > blockquote {
    margin: 0;
    padding: 0;
    padding: 0 20px 40px; }
    .testimonials > blockquote > cite {
      color: #999999;
      font-style: normal; }
